main {
  margin-top:80px;
}

input {
background-color: #EEEEEE ;
height:50px;
border:0;
text-align:center;
}


  .pay-button {
    background-color:$pink; 
    color:$white;
   width:80%;
   height:48px;
   font-size:24px;
   border:0;
   margin-top:20px;

  }

  h1 {
    font-family:$content-font;
  }

.input1 {
  flex-basis: 100%;
  margin-bottom: 15px;
}

.small-input-container{
  width: 100%;
  display: flex;
  justify-content: space-between;

  #lastname {
    margin-left: 15px;
  }
}

.input2 {
  width:100%;
  margin-bottom: 15px;
 } 
 
 form{
   padding:20px;
 }

 .button-container {
   display:flex;
   justify-content: center;
 }

.headline-order {
  margin:15px;
}
 
 .order-form input:invalid {
  border: 2px solid red;
}

.order-form input:valid {
  border: 2px solid green;
}

.order-form input:focus{
	border: 2px solid yellow;
  outline:none;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  background-color: rgba(0, 0, 0, .5);
} 
.popup-title {
  font-size: 36px;
  margin: 0 0 18px;
}

.popup-container {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  text-align: center;
  margin: auto;
  position: relative;
  padding: 15px;
}

.popup {
  
  visibility: hidden;
  opacity: 0;
}

.popup-opened {
  visibility: visible;
  opacity: 1;
}

