main {
  margin-top:80px;
}

input {
background-color: #EEEEEE ;
height:50px;
border:0;
text-align:center;
}


  .pay-button {
    background-color:$pink; 
    color:$white;
   width:80%;
   height:48px;
   font-size:24px;
   border:0;
   margin-top:20px;

  }

  h1 {
    font-family:$content-font;
  }

.input1 {
  width:46%;
 margin:5px;
 margin-bottom: 15px;
  
}

.input2 {
  width:100%;
  margin-bottom: 15px;
 } 
 
 form{
   padding:20px;
 }

 .button-container {
   display:flex;
   justify-content: center;
 }


 
 .order-form input:invalid {
  border: 2px solid red;
}

.order-form input:valid {
  border: 2px solid green;
}

.order-form input:focus{
	border: 2px solid yellow;
  outline:none;
}