main {
  margin-top:80px;
  .order-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    @media(min-width: 500px){
      max-width: 500px;
    }
  }
}

input {
background-color: #EEEEEE ;
height:50px;
border:0;
text-align:center;
}


  .pay-button {
    background-color:$pink; 
    color:$white;
   width:80%;
   height:48px;
   font-size:24px;
   border:0;
   margin-top:20px;

  }

  h1 {
    font-family:$content-font;
  }

.input1 {
  flex-basis: 100%;
  margin-bottom: 15px;
}

.small-input-container{
  width: 100%;
  display: flex;
  justify-content: space-between;

  #lastname {
    margin-left: 15px;
  }
}

.input2 {
  width:100%;
  margin-bottom: 15px;
 } 
 
 form{
   padding:20px;
 }

 .button-container {
   display:flex;
   justify-content: center;
 }

.headline-order {
  margin:15px;
}
 
 .order-form input:invalid {
  border: 2px solid red;
}

.order-form input:valid {
  border: 2px solid green;
}

.order-form input:focus{
	border: 2px solid yellow;
  outline:none;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  background-color: white
} 
.popup-title {
  font-size: 36px;
  margin: 0 0 18px;

  @media print {
    display: none;
  }
}

.popup-container {
  border-radius: 15px;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  position: relative;
  padding: 15px;
  height: 100vh;

}

.popup {
  
  visibility: hidden;
  opacity: 0;
}

.popup-opened {
  visibility: visible;
  opacity: 1;
}

.buyer-info {
  text-align: left;

  span {
    font-style: italic;
  }
}

.close-button, #print-btn {
  @media print {
    display: none;
  }
}

.receipt-title {
  font-size: 36px;
  margin: 0 0 20px;
  display: none;

  @media print {
    display: block;
    text-align: left;
  }
}