.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  article {
    height: fit-content;
    width: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
    background: #F4F4F4;
    img {
      width: 100%;
      cursor:pointer;
    }

    .price {
      position: absolute;
      left:0px;
      background: #F4F4F4;
      padding:5px;
    }
p{
  font-size: 12px;
}

  }
}

.product-pop-up {
  width: 100vw;
  height:  calc(100vh - 79px);
  top: 80px;
  left: 0;
  padding: 40px;
  background: $white;
  position: fixed;
  overflow: auto;
  img {
    width: 100%;
  }

  h2 {
    font-size: 3vw;
  }
  button {
    height: 50px;
    color: $white;
    border: none;
    font-size: 20px;
    padding: 0 30px;
    border-radius: 5px;
    font-weight: 500;

    @include pinkbutton
  }
}
.article-container {
  margin: 10%;
}

button {
  color: $white;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;

  @include pinkbutton
}