.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

    article {
        height: 230px;
        width: 150px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        img {
            max-height: 100%;
            
        }

        .price {
            position: absolute;
        }

        .description {
            position: absolute;
        }
    }
  }


.product-pop-up {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 40px;
  background: $white;
  h2 {
    font-size: 3vw;
  }
  button {
    height: 50px;
    background-color: $pink;
    color: $white;
    border: none;
    font-size: 20px;
    padding: 0 30px;
    border-radius: 5px;
    font-weight: 500;
  }
}
