.shopping-cart-popup {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 80px;
  font-size: 20px;
  left: 0;
  background: $white;
  text-align: left;
  @media (min-width: 850px) {
    width: 480px;
    left: auto;
    right: 0px;
  }
  .cart-is-empty {
    text-align: center;
    max-width: 800px;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
h1{
  margin-top: 30px;
  font-size: 30px;
}
    img {
      padding: 4vh;
      max-width: 100%;
      margin-top: 50px;
    }
  }
  .cart-not-empty {
    height: calc(100vh - 80px);
    padding: 5%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .shopping-cart-contents {
      img {
        width: 30%;
        margin-right: 10px;
      }
      .fa-trash {
        color: rgb(253, 66, 181);
      }
      section {
        display: flex;
        margin: 20px 0;
        & > div:not(.quantity-check) {
          h3{font-size: 18px;}
          display: flex;
          font-size: 18px;
        }
        &:last-of-type {
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 2px solid $gray;
        }
      }
      .plus-minus {
        width: 70px;
        height: 30px;
        display: flex;
        border: solid 1px black;
        border-radius: 20px;
        overflow: hidden;
        background: $gray;
        div {
          flex-basis: 100%;
          text-align: center;
        }
        div:nth-child(2) {
          background: white;
        }
        div:first-of-type,
        div:last-of-type {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .shopping-cart-details {
      margin-top: 20px;
    }
    a {
      
      button {
        color: $white;
        border: none;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 500;
      
        @include pinkbutton
      }
    }
  }
}
.price-item {
  display: flex;
  justify-content: space-between;
  &:last-of-type {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid $gray;
  }
}
.sum {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.fa-trash {
  color: $pink;
}
.promo {
  
  display: flex;
  input {
    border-radius: 5px 0 0 5px   ;
    font-size: 16px;
    flex-basis: 60%;
  }
  button {
    border-radius: 0 5px 5px 0   ;
    font-size: 16px;
    flex-basis: 40%;
    background-image: $green;
  }
}
