@import "_partials.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
    font-family: $content-font;
    outline: 1px solid red;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
