@import "_partials.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";
@import "layouts/_orderpage.scss";
@import "layouts/_breadcrumbs.scss";
@import"layouts/_landing-page.scss";
@import "layouts/_productlist.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
    font-family: $content-font;
    outline: 1px solid red;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-page{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        z-index: 100;
        .exit-box-login{
            position: relative;
            top: -50px;
            right: -150px;
            padding: 0px;
            font-size: 40px;
            font-weight: 900;
            color: $gray;
            cursor: pointer;
        }
        .logo{
          height: 60px;
          width: 100px;
          background-color: $pink;
        }
        .my-form-login{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 400px;
          padding: 0px;
          > *{
            margin: 7px
          }
          .login-btn{
              background-color: $pink;
              color:$white;
          }
          .create-account-btn{
              background-color: $green;
              color:$white;
          }
          input{
              width: 100%;
              height: 44px;
              padding: 10px;
              background-color: $form-background;
              color:$form-text;
              border: none;
          }
          p{
              font-size: 10px;
              cursor: pointer;
          }
          button{
              width: 100%;
              height: 44px;
              padding: 10px;
              cursor: pointer;
              border:none;
          }
        }
      }
    .create-account-page{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        z-index: 100;
        .exit-box-account{
            position: relative;
            top: -50px;
            right: -150px;
            padding: 0px;
            font-size: 40px;
            font-weight: 900;
            color: $gray;
            cursor: pointer;
        }
        .logo{
            height: 60px;
            width: 100px;
            background-color: $pink;
        }
        .my-form-account{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: min-content;
            padding: 0;
            > *{
              margin: 7px
            }
            .first-last-name{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                input{
                    width: 48%;
                }
            }
            input{
                width: 100%;
                height: 44px;
                padding: 10px;
                background-color: $form-background;
                color:$form-text;
                border: none;
            }
            p{
                font-size: 10px;
                cursor: pointer;
                text-align: center;
            }
            button{
                width: 100%;
                height: 44px;
                padding: 10px;
                cursor: pointer;
                border:none;
                background-color: $pink;
                color: $white;
            }
        }
    }
}


