.header {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-shadow: 0 4px 10px 0 #a1a1a1;
          box-shadow: 0 4px 10px 0 #a1a1a1;
  z-index: 2;
  background: #FFF;
}

@media print {
  .header {
    display: none;
  }
}

.header > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar {
  text-align: left;
  font-size: 24px;
}

.header .navbar .hamburger {
  position: relative;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-left: 30px;
  cursor: pointer;
}

.header .navbar .hamburger span {
  border-radius: 10px;
  position: absolute;
  height: 4px;
  background: #989898;
}

.header .navbar .hamburger span:nth-child(1) {
  width: 30px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .hamburger span:nth-child(2) {
  width: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .navbar .hamburger span:nth-child(3) {
  width: 30px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .hamburger:hover span:nth-child(2) {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  background-image: linear-gradient(60deg, #fd42b5, #d40059);
}

.header .navbar .is-active span:nth-child(1) {
  -webkit-transform: translate(0px) rotate(45deg);
          transform: translate(0px) rotate(45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .is-active span:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .navbar .is-active span:nth-child(3) {
  -webkit-transform: translate(0px) rotate(-45deg);
          transform: translate(0px) rotate(-45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .is-active:hover span:nth-child(2) {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.header .navbar .navlinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  font-size: 24px;
  background-color: #FFF;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 600px) {
  .header .navbar .navlinks {
    width: 400px;
    height: 100vh;
  }
}

.header .navbar .navlinks .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

.header .navbar .navlinks .links a {
  text-decoration: none;
  margin-top: 20px;
  color: #989898;
}

.header .navbar .navlinks .links a:hover {
  background-image: -webkit-linear-gradient(#fd42b5, #d40059);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .navbar .navlinks .social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.header .navbar .navlinks .social-media-links i {
  margin-right: 10px;
  color: #989898;
}

.header .navbar .navlinks .social-media-links i:hover {
  background-image: -webkit-linear-gradient(#fd42b5, #d40059);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .navbar .active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  margin-right: 30px;
  font-size: 24px;
}

.header .header-icons .user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-icons .user p {
  width: 100px;
  position: absolute;
  font-size: 10px;
  top: 35px;
  text-align: center;
  color: #989898;
}

.header .header-icons .fa {
  padding: 10px;
  color: #989898;
}

.header .header-icons .fa:hover:before {
  background: -webkit-linear-gradient(#fd42b5, #d40059);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}

.header .header-icons .fa-shopping-cart {
  position: relative;
}

.header .header-icons .fa-shopping-cart .item-counter {
  background-image: linear-gradient(60deg, #fd42b5, #d40059);
  position: absolute;
  top: 3px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: white;
}

.hide {
  display: none !important;
}

.footer {
  padding: 10px 10px 0px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 -4px 10px 0 #a1a1a1;
          box-shadow: 0 -4px 10px 0 #a1a1a1;
  background-color: #FFF;
  padding-bottom: 10px;
}

.footer .social-media-links-2 i {
  margin: 10px;
  color: #989898;
}

.footer .social-media-links-2 i:hover {
  background-image: -webkit-linear-gradient(#fd42b5, #d40059);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer p.fake-links {
  font-size: 14px;
  color: #989898;
}

.footer p.copywrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  color: #989898;
}

main {
  margin-top: 80px;
}

main .order-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  main .order-container {
    max-width: 500px;
  }
}

input {
  background-color: #EEEEEE;
  height: 50px;
  border: 0;
  text-align: center;
}

.pay-button {
  background-color: linear-gradient(60deg, #fd42b5, #d40059);
  color: #FFF;
  width: 80%;
  height: 48px;
  font-size: 24px;
  border: 0;
  margin-top: 20px;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
}

.input1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 15px;
}

.small-input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-input-container #lastname {
  margin-left: 15px;
}

.input2 {
  width: 100%;
  margin-bottom: 15px;
}

form {
  padding: 20px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline-order {
  margin: 15px;
}

.order-form input:invalid {
  border: 2px solid red;
}

.order-form input:valid {
  border: 2px solid green;
}

.order-form input:focus {
  border: 2px solid yellow;
  outline: none;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.popup-title {
  font-size: 36px;
  margin: 0 0 18px;
}

@media print {
  .popup-title {
    display: none;
  }
}

.popup-container {
  border-radius: 15px;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  position: relative;
  padding: 15px;
  height: 100vh;
}

.popup {
  visibility: hidden;
  opacity: 0;
}

.popup-opened {
  visibility: visible;
  opacity: 1;
}

.buyer-info {
  text-align: left;
}

.buyer-info span {
  font-style: italic;
}

@media print {
  .close-button, #print-btn {
    display: none;
  }
}

.receipt-title {
  font-size: 36px;
  margin: 0 0 20px;
  display: none;
}

@media print {
  .receipt-title {
    display: block;
    text-align: left;
  }
}

main {
  width: 100%;
  margin-top: 80px;
}

main .breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  margin-top: 10px;
}

main .breadcrumbs li + li:before {
  content: "/ ";
}

main .breadcrumbs li a {
  text-decoration: none;
}

main .breadcrumbs li a:hover {
  text-decoration: underline;
}

.main-landing-page {
  margin-top: 80px;
}

@media (min-width: 850px) {
  .main-landing-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-landing-page .product-category {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-landing-page .product-category img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-landing-page .product-category .image-text {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 70%;
}

.main-landing-page .product-category .image-text p {
  font-size: 3vh;
  padding: 20px 0;
  text-shadow: 0px 0px 2px #FFF;
}

.main-landing-page .product-category .image-text h2 {
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 0px 0px 2px #FFF;
}

.main-landing-page .product-category .image-text button {
  height: 50px;
  color: #FFF;
  border: none;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 5px;
  font-weight: 500;
  background-image: linear-gradient(60deg, #fd42b5, #d40059);
}

.main-landing-page .product-category .image-text button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.main-landing-page .product-category .image-text button:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
}

.search-box .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 5px 5px;
  height: 20px;
  width: 100px;
  border-bottom: 1px solid black;
  margin-right: 30px;
}

@media (min-width: 850px) {
  .search-box .search {
    width: 200px;
  }
}

.search-box .search i {
  color: #A1A1A1;
}

.search-box .search input {
  width: 100px;
  height: 20px;
  background-color: white;
  border: none;
  outline: none;
  text-align: left;
  padding-left: 5px;
}

@media (min-width: 850px) {
  .search-box .search input {
    width: 200px;
  }
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.product-list article {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px;
  background: #F4F4F4;
}

@media (min-width: 850px) {
  .product-list article {
    -ms-flex-preferred-size: 21%;
        flex-basis: 21%;
  }
}

.product-list article img {
  width: 100%;
  cursor: pointer;
}

.product-list article .price {
  position: absolute;
  left: 0px;
  background: #F4F4F4;
  padding: 5px;
}

.product-list article p {
  font-size: 12px;
}

.product-list article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-pop-up {
  width: 100vw;
  height: calc(100vh - 79px);
  top: 80px;
  left: 0;
  padding: 40px;
  background: #FFF;
  position: fixed;
  overflow: auto;
}

.product-pop-up img {
  width: 100%;
}

.product-pop-up h2 {
  font-size: 3vw;
}

.product-pop-up button {
  height: 50px;
  color: #FFF;
  border: none;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 5px;
  font-weight: 500;
  background-image: linear-gradient(60deg, #fd42b5, #d40059);
}

.product-pop-up button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.product-pop-up button:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.article-container {
  margin: 10%;
}

button {
  color: #FFF;
  border: none;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  background-image: linear-gradient(60deg, #fd42b5, #d40059);
}

button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

button:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.description {
  padding: 10px;
}

.description > * {
  margin-bottom: 10px;
}

.description .product-name {
  font-weight: 500;
}

.shopping-cart-popup {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 80px;
  font-size: 20px;
  left: 0;
  background: #FFF;
  text-align: left;
}

@media (min-width: 850px) {
  .shopping-cart-popup {
    width: 480px;
    left: auto;
    right: 0px;
  }
}

.shopping-cart-popup .cart-is-empty {
  text-align: center;
  max-width: 800px;
  max-height: 600px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart-popup .cart-is-empty h1 {
  margin-top: 30px;
  font-size: 30px;
}

.shopping-cart-popup .cart-is-empty img {
  padding: 4vh;
  max-width: 100%;
  margin-top: 50px;
}

.shopping-cart-popup .cart-not-empty {
  height: calc(100vh - 80px);
  padding: 5%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents img {
  width: 30%;
  margin-right: 10px;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents .fa-trash {
  color: #fd42b5;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents section > div:not(.quantity-check) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents section > div:not(.quantity-check) h3 {
  font-size: 18px;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents section:last-of-type {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #989898;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents .plus-minus {
  width: 70px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px black;
  border-radius: 20px;
  overflow: hidden;
  background: #989898;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents .plus-minus div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents .plus-minus div:nth-child(2) {
  background: white;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-contents .plus-minus div:first-of-type:hover,
.shopping-cart-popup .cart-not-empty .shopping-cart-contents .plus-minus div:last-of-type:hover {
  cursor: pointer;
}

.shopping-cart-popup .cart-not-empty .shopping-cart-details {
  margin-top: 20px;
}

.shopping-cart-popup .cart-not-empty a button {
  color: #FFF;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  background-image: linear-gradient(60deg, #fd42b5, #d40059);
}

.shopping-cart-popup .cart-not-empty a button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.shopping-cart-popup .cart-not-empty a button:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-item:last-of-type {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #989898;
}

.sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.fa-trash {
  color: linear-gradient(60deg, #fd42b5, #d40059);
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo input {
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.promo button {
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-image: linear-gradient(60deg, #49C000, #3a9202);
}

.login-page {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 100;
}

.login-page .exit-box-login {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -50px;
  right: -150px;
  padding: 0px;
  font-size: 40px;
  font-weight: 900;
  color: #989898;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.login-page .exit-box-login span {
  border-radius: 10px;
  position: absolute;
  height: 4px;
  background: #989898;
}

.login-page .exit-box-login span:nth-child(1) {
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-page .exit-box-login span:nth-child(2) {
  width: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.login-page .logo {
  height: 60px;
  width: 100px;
  background-color: linear-gradient(60deg, #fd42b5, #d40059);
}

.login-page .my-form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
  padding: 0px;
}

.login-page .my-form-login > * {
  margin: 7px;
}

.login-page .my-form-login .login-btn {
  color: #FFF;
}

.login-page .my-form-login .create-account-btn {
  background-image: linear-gradient(60deg, #49C000, #3a9202);
  color: #FFF;
}

.login-page .my-form-login input {
  width: 100%;
  height: 44px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #A1A1A1;
  border: none;
}

.login-page .my-form-login p {
  font-size: 10px;
  cursor: pointer;
}

.login-page .my-form-login button {
  width: 100%;
  height: 44px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.create-account-page {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 100;
}

.create-account-page .exit-box-account {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -50px;
  right: -150px;
  padding: 0px;
  font-size: 40px;
  font-weight: 900;
  color: #989898;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.create-account-page .exit-box-account span {
  border-radius: 10px;
  position: absolute;
  height: 4px;
  background: #989898;
}

.create-account-page .exit-box-account span:nth-child(1) {
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.create-account-page .exit-box-account span:nth-child(2) {
  width: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.create-account-page .logo {
  height: 60px;
  width: 100px;
  background-color: linear-gradient(60deg, #fd42b5, #d40059);
}

.create-account-page .my-form-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0;
}

.create-account-page .my-form-account > * {
  margin: 7px;
}

.create-account-page .my-form-account .first-last-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.create-account-page .my-form-account .first-last-name input {
  width: 48%;
}

.create-account-page .my-form-account input {
  width: 100%;
  height: 44px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #A1A1A1;
  border: none;
}

.create-account-page .my-form-account p {
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}

.create-account-page .my-form-account button {
  width: 100%;
  height: 44px;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper i {
  cursor: pointer;
}

.wrapper a {
  cursor: pointer;
}

.wrapper button {
  cursor: pointer;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=styles.css.map */