@charset "UTF-8";
.header {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-shadow: 0 4px 10px 0 #a1a1a1;
          box-shadow: 0 4px 10px 0 #a1a1a1;
  z-index: 2;
  background: #FFF;
}

.header > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header .logo {
  height: 60px;
  background-color: #F700FC;
}

.header .navbar {
  text-align: left;
  margin-left: 30px;
  font-size: 24px;
}

.header .navbar .hamburger {
  position: relative;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.header .navbar .hamburger span {
  background-color: black;
  border-radius: 10px;
  position: absolute;
  height: 4px;
}

.header .navbar .hamburger span:nth-child(1) {
  width: 30px;
  background: black;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .hamburger span:nth-child(2) {
  width: 30px;
  background: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .navbar .hamburger span:nth-child(3) {
  width: 30px;
  background: black;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .hamburger:hover span:nth-child(2) {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  background: #F700FC;
}

.header .navbar .is-active span:nth-child(1) {
  -webkit-transform: translate(0px) rotate(45deg);
          transform: translate(0px) rotate(45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .is-active span:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .navbar .is-active span:nth-child(3) {
  -webkit-transform: translate(0px) rotate(-45deg);
          transform: translate(0px) rotate(-45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar .is-active:hover span:nth-child(2) {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  background: #F700FC;
}

.header .navbar .navlinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  font-size: 24px;
}

.header .navbar .navlinks .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .navbar .navlinks .links a {
  text-decoration: none;
  margin-top: 20px;
}

.header .navbar .navlinks .social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navlinks .social-media-links i {
  margin-right: 10px;
}

.header .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  margin-right: 30px;
  font-size: 24px;
}

.header .header-icons .user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-icons .user p {
  width: 100px;
  position: absolute;
  font-size: 10px;
  top: 35px;
  text-align: center;
}

.header .header-icons .fa {
  padding: 10px;
}

.header .header-icons .shopping-cart-popup {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  font-size: 24px;
  left: 30px;
}

.header .header-icons .fa-shopping-cart {
  position: relative;
}

.header .header-icons .fa-shopping-cart .item-counter {
  background-color: #F700FC;
  position: absolute;
  top: 3px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: white;
}

.hide {
  display: none !important;
}

.is-active span:nth-child(1) {
  -webkit-transform: translate(2px, -12px);
          transform: translate(2px, -12px);
  background: #F700FC;
}

.is-active span:nth-child(2) {
  -webkit-transform: translate(0px) rotate(45deg);
          transform: translate(0px) rotate(45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.is-active span:nth-child(3) {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
  background: #F700FC;
}

.is-active span:nth-child(4) {
  -webkit-transform: translate(0px) rotate(-45deg);
          transform: translate(0px) rotate(-45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer {
  position: fixed;
  /*ändra */
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 -4px 10px 0 #a1a1a1;
          box-shadow: 0 -4px 10px 0 #a1a1a1;
}

.footer .social-media-links-2 i {
  margin: 10px;
}

.footer p.fake-links {
  font-size: 14px;
}

.footer p.copywrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
}

main {
  margin-top: 80px;
}

input {
  background-color: #EEEEEE;
  height: 50px;
  border: 0;
  text-align: center;
}

.pay-button {
  background-color: #F700FC;
  color: #FFF;
  width: 80%;
  height: 48px;
  font-size: 24px;
  border: 0;
  margin-top: 20px;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
}

.input1 {
  width: 46%;
  margin: 5px;
  margin-bottom: 15px;
}

.small-input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input2 {
  width: 100%;
  margin-bottom: 15px;
}

form {
  padding: 20px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-form input:invalid {
  border: 2px solid red;
}

.order-form input:valid {
  border: 2px solid green;
}

.order-form input:focus {
  border: 2px solid yellow;
  outline: none;
}

main {
  width: 100%;
  margin-top: 80px;
}

main .breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
}

main .breadcrumbs li + li:before {
  content: "/";
}

main .breadcrumbs li a {
  text-decoration: none;
}

main .breadcrumbs li a:hover {
  text-decoration: underline;
}

.main-landing-page {
  margin-top: 80px;
  margin-bottom: 80px;
}

.main-landing-page .product-category {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-landing-page .product-category img {
  max-height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-landing-page .product-category .image-text {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 70%;
}

.main-landing-page .product-category .image-text p {
  font-size: 3vh;
  padding: 20px 0;
}

.main-landing-page .product-category .image-text h2 {
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

.main-landing-page .product-category .image-text button {
  height: 50px;
  background-color: #F700FC;
  color: #FFF;
  border: none;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 5px;
  font-weight: 500;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list article {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px;
  background: #F4F4F4;
}

.product-list article img {
  width: 100%;
  cursor: pointer;
}

.product-list article .price {
  position: absolute;
  left: 0px;
  background: #F4F4F4;
  padding: 5px;
}

.product-list article p {
  font-size: 12px;
}

.product-pop-up {
  width: 100vw;
  height: 100%;
  top: 80px;
  left: 0;
  padding: 40px;
  background: #FFF;
  position: absolute;
}

.product-pop-up img {
  width: 100%;
}

.product-pop-up h2 {
  font-size: 3vw;
}

.product-pop-up button {
  height: 50px;
  background-color: #F700FC;
  color: #FFF;
  border: none;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 5px;
  font-weight: 500;
}

.article-container {
  margin: 10%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .login-page {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 100;
}

.wrapper .login-page .exit-box-login {
  position: relative;
  top: -50px;
  right: -150px;
  padding: 0px;
  font-size: 40px;
  font-weight: 900;
  color: #989898;
  cursor: pointer;
}

.wrapper .login-page .logo {
  height: 60px;
  width: 100px;
  background-color: #F700FC;
}

.wrapper .login-page .my-form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
  padding: 0px;
}

.wrapper .login-page .my-form-login > * {
  margin: 7px;
}

.wrapper .login-page .my-form-login .login-btn {
  background-color: #F700FC;
  color: #FFF;
}

.wrapper .login-page .my-form-login .create-account-btn {
  background-color: #49C000;
  color: #FFF;
}

.wrapper .login-page .my-form-login input {
  width: 100%;
  height: 44px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #A1A1A1;
  border: none;
}

.wrapper .login-page .my-form-login p {
  font-size: 10px;
  cursor: pointer;
}

.wrapper .login-page .my-form-login button {
  width: 100%;
  height: 44px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.wrapper .create-account-page {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 100;
}

.wrapper .create-account-page .exit-box-account {
  position: relative;
  top: -50px;
  right: -150px;
  padding: 0px;
  font-size: 40px;
  font-weight: 900;
  color: #989898;
  cursor: pointer;
}

.wrapper .create-account-page .logo {
  height: 60px;
  width: 100px;
  background-color: #F700FC;
}

.wrapper .create-account-page .my-form-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0;
}

.wrapper .create-account-page .my-form-account > * {
  margin: 7px;
}

.wrapper .create-account-page .my-form-account .first-last-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .create-account-page .my-form-account .first-last-name input {
  width: 48%;
}

.wrapper .create-account-page .my-form-account input {
  width: 100%;
  height: 44px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #A1A1A1;
  border: none;
}

.wrapper .create-account-page .my-form-account p {
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}

.wrapper .create-account-page .my-form-account button {
  width: 100%;
  height: 44px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #F700FC;
  color: #FFF;
}
/*# sourceMappingURL=styles.css.map */