@charset "UTF-8";
.header {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-shadow: 0 4px 10px 0 #a1a1a1;
          box-shadow: 0 4px 10px 0 #a1a1a1;
}

.header > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header .logo {
  height: 60px;
  background-color: #F700FC;
}

.header .navbar {
  text-align: left;
  margin-left: 30px;
  font-size: 24px;
}

.header .navbar .fa {
  padding: 10px;
}

.header .navbar .navlinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  font-size: 24px;
}

.header .navbar .navlinks .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .navbar .navlinks .links a {
  text-decoration: none;
  margin-top: 20px;
}

.header .navbar .navlinks .social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navlinks .social-media-links i {
  margin-right: 10px;
}

.header .header-icons {
  text-align: right;
  margin-right: 30px;
  font-size: 24px;
}

.header .header-icons .fa {
  padding: 10px;
}

.header .header-icons .shopping-cart-popup {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  font-size: 24px;
  left: 30px;
}

.hide {
  display: none !important;
}

.footer {
  position: fixed;
  /*ändra */
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 -4px 10px 0 #a1a1a1;
          box-shadow: 0 -4px 10px 0 #a1a1a1;
}

.footer .social-media-links-2 i {
  margin: 10px;
}

.footer p.fake-links {
  font-size: 14px;
}

.footer p.copywrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  outline: 1px solid red;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .login-page {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 100;
}

.wrapper .login-page .exit-box-login {
  position: relative;
  top: -50px;
  right: -150px;
  padding: 0px;
  font-size: 40px;
  font-weight: 900;
  color: #989898;
  cursor: pointer;
}

.wrapper .login-page .logo {
  height: 60px;
  width: 100px;
  background-color: #F700FC;
}

.wrapper .login-page .my-form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 207px;
  height: 400px;
}

.wrapper .login-page .my-form-login > * {
  margin: 7px;
}

.wrapper .login-page .my-form-login .login-btn {
  background-color: #F700FC;
  color: #FFF;
}

.wrapper .login-page .my-form-login .create-account-btn {
  background-color: #49C000;
  color: #FFF;
}

.wrapper .login-page .my-form-login input[type=text] {
  width: 100%;
  height: 44px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #A1A1A1;
  border: none;
}

.wrapper .login-page .my-form-login p {
  font-size: 10px;
  cursor: pointer;
}

.wrapper .login-page .my-form-login button {
  width: 100%;
  height: 44px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.wrapper .create-account-page {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 100;
}

.wrapper .create-account-page .exit-box-account {
  position: relative;
  top: -50px;
  right: -150px;
  padding: 0px;
  font-size: 40px;
  font-weight: 900;
  color: #989898;
  cursor: pointer;
}

.wrapper .create-account-page .logo {
  height: 60px;
  width: 100px;
  background-color: #F700FC;
}

.wrapper .create-account-page .my-form-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 243px;
  height: 400px;
}

.wrapper .create-account-page .my-form-account > * {
  margin: 7px;
}

.wrapper .create-account-page .my-form-account .first-last-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .create-account-page .my-form-account .first-last-name input[type=text] {
  width: 117px;
}

.wrapper .create-account-page .my-form-account input[type=text] {
  width: 100%;
  height: 44px;
  padding: 10px;
  background-color: #EEEEEE;
  color: #EEEEEE;
  border: #A1A1A1;
}

.wrapper .create-account-page .my-form-account p {
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}

.wrapper .create-account-page .my-form-account button {
  width: 100%;
  height: 44px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.wrapper .create-account-page .my-form-account .create-account-btn {
  background-color: #F700FC;
  color: #FFF;
}
/*# sourceMappingURL=styles.css.map */